/*Login Page Start*/
body {
  background-color: #f5f5f5;

}

.emp-login-header {
  padding-bottom: 8%;
}

.login-page {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 13%;
}

.login-btn {
  margin-top: 4%;
}
/*Login Page End

/*Navbar Start*/
.navbar-div1{
  padding-top: 0.6%;
  padding-bottom: 0.6%;
  font-size: 1.2rem;
}
.navbar-div2{
  padding-left: 83%;
}
.nav-link{
  color: #ecf4f3;
}
.nav-link:hover{
  color: white;
  font-weight: bold;
}
.company-branding{
  color: white;
  font-weight: bold;
}
.company-branding:hover{
  color: white;
  font-weight: bold;
}

/*Navbar End*/

/*Card Deck Start*/
.features-deck{
  padding:5%;
  text-align: center;

}
.card-img-top{
  height: 50%;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}
