<%- include("header") -%>



<div class="row">
  <!-- Sidebar Starts -->
  <div class="col-2 sidebar">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link sidebar-tile add" id="add" data-toggle="pill" href="#v-pills-home" role="tab"
        aria-controls="v-pills-home" aria-selected="true">Add Account</a>
      <a class="nav-link sidebar-tile view" id="view" data-toggle="pill" href="#v-pills-profile" role="tab"
        aria-controls="v-pills-profile" aria-selected="false">View Account Details</a>
      <a class="nav-link sidebar-tile update" id="update" data-toggle="pill" href="#v-pills-messages" role="tab"
        aria-controls="v-pills-messages" aria-selected="false">Update Account Details</a>
      <a class="nav-link sidebar-tile remove" id="remove" data-toggle="pill" href="#v-pills-settings" role="tab"
        aria-controls="v-pills-settings" aria-selected="false">Close Account</a>
    </div>
  </div>
  <!-- Sidebar Ends -->

  <!-- Create Customer Form Starts -->

  <div class="col-10 ">
    <!-- Add Customer Start -->
    <div class="add-custdiv">
      <h2 class="create-heading">Create an Account</h2>
      <br />
      <form class="create-cust" method="POST" action="/customer_management" enctype="multipart/form-data">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" id="inputFirstName" name="first_name" required>
          </div>
          <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" id="inputLastName" name="last_name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" name="address" required>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" name="city" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <input class="form-control" type="text" name="state" id="state" required>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" name="zip" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Contact No (Primary)</label>
            <input type="tel" class="form-control" id="primaryMob" name="pcon" required>
          </div>
          <div class="form-group col-md-6">
            <label>Contact No (Secondary)</label>
            <input type="tel" class="form-control" id="secondaryMob" name="scon">
          </div>
        </div>
        <div class="form-group">
          <label>Email Id</label>
          <input type="email" class="form-control" id="inputEmail" name="email" required placeholder="example@abc.com">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 required">
            <legend class="col-form-label pt-0">Gender</legend>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="male" value="M" required>
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="female" value="F" required>
              <label class="form-check-label" for="female">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="other" value="O" required>
              <label class="form-check-label" for="other">Other</label>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label id="demo">DOB</label>
            <input type="date" class="form-control" id="DOB" name="DOB" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Aadhar Number</label>
            <input type="text" class="form-control" id="inputFirstName" name="aadhar" required>
          </div>
          <div class="form-group col-md-6">
            <label>Pan Number</label>
            <input type="text" class="form-control" id="inputLastName" name="pan">
          </div>
        </div>
        <div class="form-group">
          <label for="">Photo</label>
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="validatedCustomFile1" name="myImage" required>
            <label class="custom-file-label" for="validatedCustomFile1" id="place-hold1">Choose File...</label>
            <small id="passwordHelpBlock" class="form-text text-muted">
              Max Image Size : 2 MB (JPG/PNG/JPEG)
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="">Aadhar Scanned Copy</label>
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="validatedCustomFile2" name="aadhar" required>
            <label class="custom-file-label" for="validatedCustomFile2" id="place-hold2">Choose File...</label>
            <small id="passwordHelpBlock" class="form-text text-muted">
              Max Image Size : 2 MB (JPG/PNG/JPEG)
            </small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 required">
            <legend class="col-form-label pt-0">Account Type</legend>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="acc_type" id="savings" value="Saving" required>
              <label class="form-check-label" for="savings">Savings</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="acc_type" id="current" value="Current" required>
              <label class="form-check-label" for="current">Current</label>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
          <label class="form-check-label" for="exampleCheck1">I have verified all information and documents of this
            customer.</label>
        </div>
        <button type="submit" class="btn btn-primary btn-cust"><i class="fas fa-user-plus"></i> Create Account </button>
      </form>
    </div>
    <!-- Add Customer End -->

    <!-- View Customer Start -->
    <div class="view-custdiv">
      <form method="POST" action="/view_profile">
        <div class="form-row">
          <div class="form-group col-md-10">
            <input type="text" name="accno" id="view_by_accno" class="form-control" placeholder="Enter Account Number">
          </div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary form-control"> Search <i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>

    </div>
  </div>

  <!-- View Customer End -->
</div>


<!-- Create Customer Form Ends -->

<%- include("footer") -%>