<%- include("header") -%>

<!-- Card Deck Start -->
<div class="row row-cols-1 row-cols-md-3 features-deck">
  <div class="col mb-4">
    <a class="card-link" href="customer_management">
      <div class="card h-100">
        <img src="images/customer.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Customer Management</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col mb-4 <%=cashier%>">
    <a href="transaction_management" class="card-link">
    <div class="card h-100">
      <img src="images/payment.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Transaction Management</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </a>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="images/loan.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Loan Management</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4 <%=designation%>">
    <a href="/emp_management" class="card-link">
      <div class="card h-100 row-2">
        <img src="images/employee.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Employee Management</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </a>
    
  </div>
</div>
<!-- Card Deck End -->

<%- include("footer") -%>