<%- include("header") -%>

<!-- Card Deck Start -->
<div class="row row-cols-1 row-cols-md-3 features-deck">

  <%if(designation === 'Manager' || designation === 'General'){%>
  <div class="col mb-4">
    <a class="card-link" href="customer_management">
      <div class="card h-100">
        <img src="images/customer.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Customer Management</h5>
          <p class="card-text">Create New Account, View Account Details, Update Account Details and Close Account.</p>
        </div>
      </div>
    </a>
  </div>
  <%}%>

  <%if(designation === 'Cashier' || designation === 'Manager'){%>
  <div class="col mb-4">
    <a href="transaction_management" class="card-link">
      <div class="card h-100">
        <img src="images/payment.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Transaction Management</h5>
          <p class="card-text">Withdraw Cash, Deposit Cash and View Transactions.</p>
        </div>
      </div>
    </a>
  </div>
  <%}%>

  <%if(designation === 'Manager' || designation === 'General'){%>
  <div class="col mb-4">
    <a href="loan_management" class="card-link">
      <div class="card h-100">
        <img src="images/loan.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Loan Management</h5>
          <p class="card-text">Sanction Loan, Loan Repayments and View Loan Transactions.</p>
        </div>
      </div>
    </a>
  </div>
  <%}%>

  <%if(designation === 'Manager'){%>
  <div class="col mb-4">
    <a href="/emp_management" class="card-link">
      <div class="card h-100 row-2">
        <img src="images/employee.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Employee Management</h5>
          <p class="card-text">Add Employee, View Employee Details, Update Employee Details and Remove Employee.</p>
        </div>
      </div>
    </a>
  </div>
  <%}%>

  <%if(designation === 'Manager'){%>
    <div class="col mb-4">
      <a href="info" class="card-link">
        <div class="card h-100 row-2">
          <img src="images/overall.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Overall Branch Data</h5>
            <p class="card-text">For Overall Branch Information: Accounts, Loans, Transactions.</p>
          </div>
        </div>
      </a>
    </div>
    <%}%>
    <%if(designation === 'General'){%>
      <div class="col mb-4">
        <a href="info" class="card-link">
          <div class="card h-100 ">
            <img src="images/overall.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Overall Branch Data</h5>
              <p class="card-text">For Overall Branch Information: Accounts, Loans, Transactions.</p>
            </div>
          </div>
        </a>
      </div>
      <%}%>

  <%if(designation === 'Cashier'){%>
  <div class="col mb-4">
    <div class="card h-100 cashier">
      <img src="images/kyc.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">View Account Details</h5>
        <form method="POST" action="/view_profile">
          <div class="form-row">
            <div class="form-group col-md-10">
              <input type="text" name="acc_no" id="view_by_accno" class="form-control"
                placeholder="Enter Account Number">
            </div>
            <div class="form-group col-md-2">
              <button type="submit" class="btn btn-primary form-control"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </a>
  </div>
  <%}%>

</div>
<!-- Card Deck End -->

<%- include("footer") -%>