<%- include("header") -%>
<div class="row">
  <div class="col-md-2 " style="text-align: center;">
    <h5>Account</h5>
    <button type="button" class="btn btn-success btn-lg btn-block">Active Accounts</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Inactive Accounts</button>
    <button type="button" class="btn btn-danger btn-lg btn-block">Critical Balance Accounts</button>
    <br>
    <h5>Loan</h5>
    <button type="button" class="btn btn-success btn-lg btn-block">Active Loans</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Inactive Loans</button>
    <br>
    <h5>Transaction</h5>
    <button type="button" class="btn btn-info btn-lg btn-block">Transactions (All Counters)</button>
    <button type="button" class="btn btn-info btn-lg btn-block">All Loan Transactions</button>

  </div>
  <div class="info">

  </div>
  <div class="col-md-9">

  </div>

</div>

<%- include("footer") -%>