/******************************** Login Page Starts ********************************/
body {
  background-color: #f5f5f5;
}

.emp-login-header {
  padding-bottom: 8%;
}

.login-page {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 8%;
}

.login-btn {
  margin-top: 4%;
}
/******************************** Login Page Ends ********************************/

/******************************** Navbar Starts ********************************/
.navbar-div1 {
  padding-top: 0.6%;
  padding-bottom: 0.6%;
  font-size: 1.2rem;
}

.navbar-div2 {
  padding-left: auto;
  margin-left: 58%;
}

.nav-link {
  color: #deebe9e5;
  font-weight: 600;
}

.nav-link:hover {
  color: white;
}

.company-branding {
  color: white;
  font-weight: bold;
}

.company-branding:hover {
  color: white;
  font-weight: bold;
}
.ifsc {
  text-align: center;
  padding-left: 30%;
  color: white;
}
h6 {
  display: inline;
}
/******************************** Navbar Ends ********************************/

/******************************** Card Deck Starts ********************************/
.features-deck {
  padding: 5%;
  text-align: center;
  margin: 0;
}

.card-img-top {
  height: 50%;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.card {
  width: 90%;
}

.card:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.5);
}

.row-2 {
  margin-top: 10%;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-link:hover {
  color: black;
}

.emp-management {
  display: none;
}
.transaction {
  display: none;
}

/******************************** Card Deck Ends ********************************/

/******************************** Customer Management Starts ********************************/
.create-heading {
  text-align: center;
  margin-top: 1%;
}

.row {
  margin: 0;
  margin-top: 3%;
}

.sidebar {
  height: 100%;
  padding-left: 0%;
  padding-right: 0%;
  text-align: center;
  position: fixed;
}

.sidebar-tile {
  padding-top: 20%;
  padding-bottom: 20%;
}

.nav-pills .nav-link {
  border-radius: 0.7rem;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

.col-10 {
  margin-left: auto;
}

.add {
  background-color: #29e681;
}

.view {
  background-color: #e6a400;
}

.update {
  background-color: #393e46;
}

.remove {
  background-color: #cf1b1b;
}
/******************************** Customer Management Ends ********************************/

/******************************** Customer Add Starts ********************************/
.add-custdiv {
  padding-left: 15%;
  padding-right: 15%;
  display: none;
}

.btn-cust {
  margin-left: 40%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.view-custdiv {
  padding-left: 25%;
  padding-right: 25%;
  display: none;
}

.update-custdiv {
  display: none;
}

.remove-custdiv {
  display: none;
}
/******************************** Customer Add Ends ********************************/

/******************************* Emp Profile Starts *************************************/
.profile-col1 {
  text-align: center;
}

.profile-section {
  border-bottom: rgb(219, 210, 210) 0.5px solid;
}

.emp_info {
  width: 80%;
  margin-top: 3%;
}

td {
  padding-top: 4%;
  padding-bottom: 1%;
  padding-left: 1%;
}

.profile-text {
  font-weight: 400;
}
/******************************* Emp Profile Ends *************************************/

/******************************* Account View Starts *************************************/
.cust_info {
  width: 80%;
  table-layout: fixed;
  margin-left: 3%;
}

.first_col {
  padding-right: 2%;
  border-right: rgb(219, 210, 210) 0.5px solid;
}

.sec_col {
  border-right: rgb(219, 210, 210) 0.5px solid;
  padding-left: 3%;
  padding-right: 3%;
}

.acc_info {
  table-layout: fixed;
  width: 100%;
}

.cust_id {
  padding-top: 3%;
}

.accinfo_heading {
  text-align: center;
}

.balance-box {
  text-align: center;
  width: 250px;
  height: 90px;
  border: #393e46 1px solid;
  border-radius: 10px;
  box-shadow: 2px 4px #838b87;
  background-color: white;
  margin: auto;
}

.bal-text {
  padding-top: 5%;
}
/******************************* Account View Ends *************************************/

/******************************* Transaction Starts *************************************/

.trans_sidebar {
  font-size: 1.3rem;
}

.debit_fields {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.debit-btn {
  margin-left: 45%;
}

.debit-heading {
  margin-bottom: 30px;
}

.deposit-div {
  padding: 0;
}
/******************************* Transaction Ends *************************************/
